////////////////////////////////
// refactor
////////////////////////////////

// default type
html {
	@include body-font;
}

// bold type
strong, b, a,
dt {
	@include body-bold-font;
}

// italic type
em, i {
	@include body-italic-font;

	& > a {
		font-style: inherit;
	}
}

// heading type
.heading,
h1, h2, h3, h4, h5, h6 {
	@include display-font;
	letter-spacing: normal;
	text-transform: none;
}

// semibold type
button, input[type='button'], label,
.subhead {
	@include body-semibold-font;
	text-transform: uppercase;
}

// type size defaults
h1             { font-size: $font-xxl; }
h2             { font-size: $font-xl; }
h3, p, li      { font-size: $font-md;}
h4, figcaption { font-size: $font-sm;}
h5, h6,
small, label   { font-size: $font-xs;}

// bump up font-size for h3s that follow after an h2
h2 ~ h3 { font-size: $font-lg; }

// type size overrides
.alpha {
	font-size: $font-xxxl;
}
.beta  {
	font-size: $font-xxl;
}
.gamma,
.gamma p,
.gamma li {
	font-size: $font-xl;
}
.delta,
.delta p,
.delta li {
	font-size: $font-md;
}
.epsilon,
.epsilon p,
.epsilon li {
	font-size: $font-sm;
}
.milli,
.milli p,
.milli li  {
	font-size: $font-xs;
}


// default line-height
html {
	line-height: 1.5;
}

// heading line-height
h1, h2, h3, h4, h5, h6,
.heading, .display {
	line-height: 1;
}
