// TODO: destroy this file

// interactive stuff
a, label, input, textarea, button,
[class*=button], [class*=button]:after,
.card-inner {
  transition:
    color $timing,
    text-decoration-color $timing,
    opacity $timing,
    background $timing,
    border $timing,
    transform $timing,
    box-shadow $timing;
}

// svgs
svg * {
  transition:
    fill $timing,
    stroke $timing,
    opacity $timing;
}

// transform only
.secondary-link > svg,
[class*=link-arrow]:before {
  transition: transform $timing;
}
