// TODO: destroy this file

// interactive stuff
a, label, input, textarea, button,
[class*=button], [class*=button]:after,
.card-inner {
  transition:
    color $duration-sm,
    text-decoration-color $duration-sm,
    opacity $duration-sm,
    background $duration-sm,
    border $duration-sm,
    transform $duration-sm,
    box-shadow $duration-sm;
}

// svgs
svg * {
  transition:
    fill $duration-sm,
    stroke $duration-sm,
    opacity $duration-sm;
}

// transform only
.secondary-link > svg,
[class*=link-arrow]:before {
  transition: transform $duration-sm;
}
