// TODO: destroy this file

// interactive stuff
a, label, input, textarea, button,
[class*=button], [class*=button]:after,
.main-nav-link:after, .card-inner {
  transition:
    color $timing,
    text-decoration-color $timing,
    opacity $timing,
    background $timing,
    border $timing,
    transform $timing,
    box-shadow $timing;
}

// svgs
svg * {
  transition:
    fill $timing,
    stroke $timing,
    opacity $timing;
}

// nav list smooth expand / collapse
.nav-list,
.dropdown {
  transition:
    opacity $timing,
    transform $timing;
}

// nav toggle
.nav-toggle {
  transition:
    opacity $timing,
    background-color $timing-long;
}

// transform only
.hamburger,
.hamburger-bun,
.grid-icon,
.secondary-link > svg,
[class*=link-arrow]:before {
  transition: transform $timing;
}
