/////////////////////////////////////////////
// primary and secondary content defaults
/////////////////////////////////////////////

// default margin for content
.primary-content,
.cta-content {
	padding: 1.5rem 2rem;
}

.secondary-content {
	padding: 1.5rem 2rem;
}


/////////////////////////////////////////////
// sidebar small screen treatments
/////////////////////////////////////////////

// display bio and social links horizontally where that makes sense
.main-sidebar {
	// add padding for sidebar sections on smaller viewports
	// NOTE: needed to line up with the rest of the layout
	@media (max-width: $bp-lg - 0.001) {
		> * {
			padding: 1rem;
		}
	}

	// display bio and social links horizontally where that makes sense
	@media (min-width: $bp-xxs) and (max-width: $bp-lg - 0.001) {
		display: flex;
		align-items: center;
		background: $black;
	}
}

/////////////////////////////////////////////
// 2 column layout
/////////////////////////////////////////////

.content-wrapper,
.content-wrapper ~ * {
	max-width: $inner-width;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: $bp-lg) {
	.content-wrapper.with-sidebar {
		display: flex;
		align-items: baseline;
		justify-content: center;

		.primary-content {
			width: calc(100% - 15rem);
			padding-right: 0; // offset double padding
		}

		.secondary-content {
			width: $sidebar-width;
			flex-basis: $sidebar-width;
			flex-shrink: 0;
		}
	}
}